$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: '~font-awesome/fonts';
$noto-sans-scott-dir-path: '/assets/fonts/noto-sans/fonts';

$font-face: "noto-sans-scott", "Helvetica Neue", sans-serif;
$primary-color: #444;
$primary-size: 14px;
$primary-background-color: #fff;