/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '/assets/fonts/noto-sans/scss/noto-sans-scott';

body {
  font: {
    family: $font-face;
    size: $primary-size;
    weight: normal;
  }
  color: $primary-color;
  background: {
    color: $primary-background-color;
  }
}

.block {
  margin: {
    bottom: 15px;
  }
}